extends layout

block content
      div.top

      div.container
          contain
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3">Form Successfully Submitted</h1>
                </div>
            </div>
      div.footer
