extend layout
block content
    div.container
        div.jumbotron
            h1 Hello

            if user
                p Welcome, #{user.email}
                p Welcome, #{user.name}
                | <img src="#{user.picture}" width="100" height="100" />
            else
                p Welcome to my app, ready to get started?